.svg {
  transition: 0.1s ease-in-out;

  .arrow,
  .stem {
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    stroke: currentColor;
    stroke-width: 0.7;
  }

  .arrow {
    transition: inherit;
    d: path('M 3.3 2.3 L 6.6 5 L 3.3 7.7');
  }

  .stem {
    transition: inherit;
    d: path('M 6.6 5 L 6.6 5');
  }

  &.extended {
    .arrow {
      d: path('M 5.3 2.3 L 8.6 5 L 5.3 7.7');
      stroke-width: 0.9;
    }

    .stem {
      d: path('M 8.6 5 L 1.5 5');
      stroke-width: 0.8;
    }
  }
}
